@using LoanApp.Models.Constants
@model LoanApp.Models.LoanApplication
@{
    ViewBag.Title = "Create";
    var loanTypes = ViewBag.LoanTypes;
    var newStatus = Status.New;
    var approvedStatus = Status.Approved;
    var rejectedStatus = Status.Rejected;
}
<h2>Create Loan Application</h2>
<form asp-action="Create" method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="CustomerName" class="form-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NicPassport" class="form-label"></label>
                <input asp-for="NicPassport" class="form-control" />
                <span asp-validation-for="NicPassport" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DurationMonths" class="form-label"></label>
                <input asp-for="DurationMonths" class="form-control" />
                <span asp-validation-for="DurationMonths" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Status" class="form-label"></label>
                <select asp-for="Status" class="form-select">
                    <option value="@newStatus">New</option>
                    <option value="@approvedStatus">Approved</option>
                    <option value="@rejectedStatus">Rejected</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="LoanTypeId" class="form-label"></label>
                <select id="LoanTypeId" class="form-control" asp-for="LoanTypeId">
                    <option value="">-- Select Loan Type --</option>
                    @foreach (var loan in loanTypes)
                    {
                        <option value="@loan.Id" data-rate="@loan.InterestRate">@loan.Name</option>
                    }
                </select>
                <span asp-validation-for="LoanTypeId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="InterestRate" class="form-label"></label>
                <input asp-for="InterestRate" class="form-control" id="InterestRate" readonly />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LoanAmount" class="form-label"></label>
                <input asp-for="LoanAmount" class="form-control" />
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-secondary" asp-controller="Loan" asp-action="Index">Cancel</a>

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        $("#LoanTypeId").on("change", function () {
            var selectedOption = $(this).find("option:selected");
            var rate = selectedOption.data("rate");
            $("#InterestRate").val(rate);
        });
    </script>
}
