@model IEnumerable<LoanApp.Models.LoanApplicationViewModel>
@{
    ViewData["Title"] = "Dashboard";
}


<h2>Loan Applications</h2>

<p><a class="btn btn-success" href="/Loan/Create">Add Loan Application</a></p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer Name</th>
            <th>NIC/Passport</th>
            <th>Type</th>
            <th class="text-end">Interest</th>
            <th class="text-end">Amount</th>
            <th class="text-end">Duration (m)</th>
            <th class="text-center">Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@item.CustomerName</td>
                <td>@item.NicPassport</td>
                <td>@item.LoanType</td>
                <td class="text-end">@item.InterestRate %</td>
                <td class="text-end">@String.Format("{0:N2}", item.LoanAmount)</td>
                <td class="text-end">@item.DurationMonths</td>
                <td class="text-center">
                    <span class="badge rounded-pill @(item.Status == "New" ? "bg-info" :
                                                    item.Status == "Approved" ? "bg-success" :
                                                    item.Status == "Rejected" ? "bg-danger" : "bg-secondary")">
                        @item.Status
                    </span>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Loan" asp-action="Details" asp-route-id="@item.Id" >View</a>
                    <a class="btn btn-sm btn-warning" asp-controller="Loan" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>